body {
	background-color: #E8CDE1;
}

h1 {
	text-align: center;
	font-size: 55px;
	font-family: courier;
}

.container {
	width: 350px;
	display: flex;
	justify-content: space-evenly;
	margin-right: auto;
	margin-left: auto;
}

.intButtons {
	height: 75px;
	width: 75px;
	font-size: 12px;
	font-family: courier-new;
	text-transform: uppercase;
	border-radius: 10px;
}


form {
	text-align: center;
}

#input-box {
	height: 20px;
	width: 180px;	
	margin: 10px;
}

.mush {
	height: 200px;
	width: 200px;
	display: inline-block;
	animation-name: bounceIn;
	animation-duration: 10s;
}

#feedPic {
	height: 75px;
	width: 75px;
}

.sleepDiv {
	text-align: center;
	font-color: grey;
	animation-name: bounceIn;
	animation-duration: 10s;
}

#sleepAni {
	animation-name: bounceIn;
	animation-duration: 10s;
	font-size: 60px;
	text-align: center;
}

#tomStats {
	display: flex;
	text-align: center;
	font-family: monospace;
	font-size: 20px;
	justify-content: space-between;
	flex-direction: column;
	text-align: left;
	height: 200px;
}

.imgDiv {
	text-align: center;
	animation-duration: 10s;
  	animation-name: bounceIn;
}

@keyframes bounceIn {
   0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
