body {
	background-color: #FFF64D;
}

.start {
	height: 75px;
	width: 75px;
}

.intButtons {
	display: flex;
	height: 75px;
	width: 75px;
	font-size: 15px;
	font-family: courier-new;
	text-transform: uppercase;
}

#input-box {
	height: 20px;
	width: 180px;	
	margin: 10px;
}


