body {
	background-color: #E8CDE1;
}

h1 {
	text-align: center;
	font-size: 55px;
	font-family: courier;
}

.container {
	width: 350px;
	display: flex;
	justify-content: space-evenly;
	margin-right: auto;
	margin-left: auto;
}

.intButtons {
	height: 75px;
	width: 75px;
	font-size: 12px;
	font-family: courier-new;
	text-transform: uppercase;
	border-radius: 10px;
}


form {
	text-align: center;
}

#input-box {
	height: 20px;
	width: 180px;	
	margin: 10px;
}

.mush {
	height: 200px;
	width: 200px;
	display: inline-block;
}

#tomStats {
	display: flex;
	text-align: center;
	font-family: monospace;
	font-size: 20px;
	justify-content: space-between;
	flex-direction: column;
	text-align: left;
	height: 200px;
}

.imgDiv {
	text-align: center;
	animation-duration: 3s;
  	animation-name: slidein;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}